extends ../base.pug

block variables
  - var template = 'about'

block main
  .about
    .about__wrapper
      section.about__hero
        .about__hero__wrapper
          .about__hero__title=about.data.title

      section.about__message
        .about__message__wrapper
          .about__message__sub__title
            .about__message__sub__title__text=about.data.sub_title

          .about__message__description
            .about__message__description__text!=about.data.description.replace(/\n/g, '<br/>')

      section.about__video
        .about__video__wrapper
          .about_video_iframe!=about.data.youtube_video.html

      each section in about.data.body
        if section.slice_type === 'reasons_grid'
          section.why__switch
            .why__switch__wrapper
              .why__switch__title=section.primary.grid_title

              .why__switch__list
                .Why__switch__list__wrapper
                  each item, index in section.items
                    .list__item
                      .list__item__wrapper
                        .list__item__icon(clsss=item.grid_reason_icon)
                          if index === 0
                            i(class="fas fa-shipping-fast")
                          if index === 1
                            i(class="fas fa-hand-holding-usd")
                          if index === 2
                            i(class="fas fa-calculator")
                        a.list__item__link(href=Link(item.grid_reason_link))=item.grid_reason_title
