extends ../base.pug

block variables
  - var template = 'drivers_app'

block main
  .drivers__app
    .drivers__app__wrapper
      section.drivers__app__hero
        .drivers__app__hero__wrapper
          .drivers__app__hero__title=driversApp.data.title
          .drivers__app__hero__description=driversApp.data.description

      each section in driversApp.data.body
        if section.slice_type === 'become_envoy'
          section.become__envoy
            .become__envoy__wrapper
              .become__envoy__title=section.primary.become_envoy_title
              .become__envoy__description=section.primary.become_envoy_description
            .become__envoy__video
              .become__envoy__video__wrapper
                .become__envoy__video__iframe!=section.primary.become_envoy_video.html

        if section.slice_type === 'reasons_grid'
          section.reasons__grid
            .reasons__grid__wrapper
              .reasons__grid__title=section.primary.grid_title

              .reasons__list
                .reasons__list__wrapper
                  each item in section.items
                    .list__item
                      .list__item__wrapper
                        .list__item__icon=item.grid_reason_icon
                        .list__item__title=item.grid_reason_title

        if section.slice_type === 'alternate_grid'
          section.alternate__grid(class=`${section.primary.image_side == 'left' ? 'alternate__grid--left' : 'alternate__grid--right'}`)
            .alternate__grid__wrapper
              .alternate__grid__media
                img.alternate__grid__image(src=section.primary.optional_image.url alt=section.primary.optional_image.alt)

              .alternate__grid__content
                each title in section.primary.title
                  .alternate__grid__item__title=title.text

                each description in section.primary.description
                  .alternate__grid__item__description=description.text

                .column__item
                  .column__item__wrapper
                    each item in section.items
                      .item
                        .item__wrapper
                          each title in item.title
                            .item__title=title.text
                          each description in item.description
                            .item__description=description.text

        if section.slice_type === 'content'
          section.content
            .content__wrapper
              each label in section.primary.label
                .list__box
                  .content__title=label.text
                  each list in section.primary.list
                    if list.type === 'paragraph'
                      .list__title=list.text

                    if list.type === 'list-item'
                      .list__text=list.text

              .content__media
                img.content__media__image(src=section.primary.image.url alt=section.primary.image.alt)
