extends ../base.pug

block variables
  - var template = 'home'

block content
   .home
    .home__wrapper
      section.home__hero
        .home__hero__wrapper
          .home__content
            .home__content__wrapper
              .home__hero__title=home.data.title

              .home__hero__description=home.data.sub_title

              a.home__hero__video__link(href=home.data.video_link.url)=home.data.video_label

          .home__hero__phone__screen
            img.home__hero__phone__screen__image(src=home.data.phone_screen.url alt=home.data.phone_screen.alt)

      each section in home.data.body
        if section.slice_type === 'reasons_grid'
          section.why__switch
            .why__switch__wrapper
              .why__switch__title=section.primary.grid_title

              .why__switch__list
                .Why__switch__list__wrapper
                  each item in section.items
                    .list__item
                      .list__item__wrapper
                        .list__item__icon(clsss=item.grid_reason_icon)
                        a.list__item__link(href=Link(item.grid_reason_link))=item.grid_reason_title

        if section.slice_type === 'guarantee_list'
          section.what__we__guarantee
            .what__we__guarantee__wrapper
              .what__we__guarantee__content
                .what__we__guarantee__content__wrapper
                  .what__we__guarantee__content__title=section.primary.guarantee_title
                  .what__we__guarantee__content__description=section.primary.guarantee_description

              .what__we__guarantee__list
                .what__we__guarantee__title=section.primary.list_title
                .what__we__guarantee__list__wrapper
                  each item in section.items
                    .list__item
                      .list__item__wrapper
                        .what__we__guarantee__list__icon(class=item.guarantee_list_icon)
                        .what__we__guarantee__list__title=item.guarantee_list_title

        if section.slice_type === 'content'
          section.content(class=`${section.primary.type == 'Left' ? 'content--left' : 'content--right'}`)
            .content__wrapper
              .content__info__box
                .content__title=section.primary.label
                .content__description=section.primary.description
                a.content__link(href=Link(section.primary.link))=section.primary.link_label

              figure.content__media
                img.content__media__image(src=section.primary.image.url alt=section.primary.image.alt)

        if section.slice_type === 'call_to_action'
          section.cta__banner
            .cta__banner__wrapper
              .cta__content__box
                  .cta__content__title=section.primary.cta_title
                  .cta__content__description=section.primary.description
              a.cta__banner__link(href=Link(section.primary.button_link))=section.primary.button_label
