extends ../base.pug

block variables
  - var template = 'restaurant-app'

block main
  .restaurant__app
    .restaurant__app__wrapper
      section.restaurant__app__hero
        .restaurant__app__hero__wrapper
          .restaurant__app__hero__content
            .restaurant__app__hero__content__wrapper
              .restaurant__app__hero__title=restaurantApp.data.title
              .restaurant__app__hero__description=restaurantApp.data.description

          .restaurant__app__hero__media
            img.restaurant__app__hero__image(src=restaurantApp.data.image.url alt=restaurantApp.data.image.alt)

      each section in restaurantApp.data.body
        if section.slice_type === 'become_envoy'
          section.become__envoy
            .become__envoy__wrapper
              .become__envoy__title=section.primary.become_envoy_title
              .become__envoy__description=section.primary.become_envoy_description
            .become__envoy__video
              .become__envoy__video__wrapper
                .become__envoy__video__iframe!=section.primary.become_envoy_video.html

      section.hubspot__form
        .hubspot__form__wrapper
          .hubspot__form__title Get Started

          |<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          |<script>
          |  hbspt.forms.create({
          |  region: "na1",
          |  portalId: "8225938",
          |  formId: "a645009b-09c5-498e-8ca4-a650b6e946c2"
          |});
          |</script>

      each section in restaurantApp.data.body
        if section.slice_type === 'content'
          section.content(class=`${section.primary.type == 'Left' ? 'content--left' : 'content--right'}`)
            .content__wrapper
              .content__info
                each label in section.primary.content_label
                  .content__label=label.text

                each description in section.primary.content_description
                  .content__description=description.text

              .content__media
                img.content__image(src=section.primary.image.url alt=section.primary.image.alt)

        if section.slice_type === 'reasons_grid'
          section.grid
            .grid__wrapper
              .grid__title=section.primary.grid_title

            .list
              .list__wrapper
                each item, index in section.items
                  .list__item
                    .list__item__wrapper
                      img.list__icon(src=item.grid_reason_icon.url alt=item.grid_reason_icon.alt)

                      .list__title=item.grid_reason_title

        if section.slice_type === 'customer_logos'
          section.logos
            .logos__wrapper
              .logos__title=section.primary.cta

              .logo__list
                .logo__list__wrapper
                  each logo in section.items
                    a.link(href=logo.restaurant_link.url target='_blank')
                      img.logo(src=logo.restaurant_logo.url alt=logo.restaurant_logo.alt)
